* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgba(28, 28, 28, .8);
}

a {
    text-decoration: none;
    color: #282828;
}

.container {
    width: calc(100% - 2rem);
    max-width: 1100px;
    margin-inline: auto;
    margin-top: 22px;

    display: flex;
    flex-wrap: wrap;
}

.movieBox {
    width: 100%;
    margin-bottom: 60px;
}

@media (min-width: 600px) {
    .movieBox {
        width: 300px;
        margin-left: 30px;
    }
}

.banner img {
    width: 100%;
}

.download {
    padding: 12px 20px;
    font-weight: 600;
    background: #fff;
    margin-inline: auto;
    font-size: 20px;
    margin-top: 20px;
    transition: all 250ms ease-in-out;
    border: none;
}

.download:hover {
    scale: 1.1;
}